

.startcontent {
    height: calc(100vh - 120px);
    width: 100%;
    background-image: url('style-images/background.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
   
    text-align: center;
    align-items: center;
   
    grid-template: "a a a a" 1fr
                   "a a a a" 1fr
                   "a a a a" 1fr
                   "b b b b" 1fr
                   "c c c c" 0.25fr / 1fr 1fr 1fr 1fr;   

    border-bottom: 4px solid black;     
    font-family: Montserrat;    
}

.homepage-headline {
    width: auto;
    grid-area: a;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-headline h1 {
    padding: 2px 50px;
    font-family: Montserrat;
    border-top: 4px solid rgb(166, 138, 88);
    border-bottom: 4px solid rgb(166, 138, 88);
    border-radius: 2px;
    margin-bottom: 10px;
}

h1 {
    color: rgb(166, 138, 88);
    font-size: 70px;
    margin: 0px;
 }



 h2  {
    color: rgb(166, 138, 88);
    font-size: 45px;
    padding: 2px 100px;
    margin-bottom: 0px;
    font-family: Ephesis;
    font-weight: lighter;
 }

 .reservieren {
    display: flex;
    justify-content: flex-end;
    grid-area: b;
    margin-right: 40px;
 }

.reservieren a{
    background-color: white;
    font-family: Montserrat;
    border-radius: 20px;
    padding: 14px 50px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
}

.reservieren > a > img {
    margin-right: 20px;
    height: 28px;

}

.reservieren a:hover {
    background-color:rgb(166, 138, 88);
}


.scrolldown {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: c;
    margin-bottom: 40px;
    animation: hop 1s;
    animation-iteration-count: infinite;
    -webkit-tap-highlight-color: transparent;
}

@keyframes hop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.scrolldown svg {
    width: 80px;
}




.auszeichnungen {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 80px;
    padding: 100px 0px 140px 0px;
    margin-bottom: 100px;
    border-bottom: 2px solid rgb(25, 25, 25);
}

.auszeichnung {
    text-align: center;
}

.auszeichnung img, .auszeichnung svg {
    height: 200px;
    width: 200px;
}

.auszeichnungen figcaption{
    font-family: Montserrat;
}

.auszeichnungen a {
    text-decoration: none;
    border-bottom: 1px solid rgb(166, 138, 88);
    font-weight: bold;
    color:rgb(166, 138, 88);
}



