body {
    background-color: #242424;
    color: white;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #161616;
    padding: 80px 120px;
    border-radius: 20px;
    margin-top: 80px;
}

.form-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group input, textarea {
    padding: 18px 28px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #00A1BB;
    box-shadow: 0px 0px 7px #00A1BB inset, 0px 0px 7px #00A1BB;
    background-color: #1C1C1C;
    color: white;
    text-align: center;
}

.form-group input[type="submit"] {
    border: none;
}



.form-group label {
    font-size: 0.8rem;
    color: #00A1BB;
    position: absolute;
    left: 6px;
    top: 4px;
    background-color: transparent;
}


.form-group-service {
    position: unset;
}

.form-group input[type="file"] {
    padding: 40px;
}

.form-group button {
    position: absolute;
    right: -40px;
    background-color: transparent;
    border: none;
}

.form-group input[type="submit"] {
    cursor: pointer;
}