body {
    background-color: #242424;
    color: white;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #161616;
    padding: 80px 120px;
    border-radius: 20px;
    margin-top: 80px;
}

.form-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group input {
    padding: 18px 28px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #00A1BB;
    box-shadow: 0px 0px 7px #00A1BB inset, 0px 0px 7px #00A1BB;
    background-color: #1C1C1C;
    color: white;
    text-align: center;
}

.form-group input[type="submit"] {
    border: none;
}



.form-group label {
    font-size: 0.8rem;
    color: #00A1BB;
    position: absolute;
    left: 6px;
    top: 4px;
    background-color: transparent;
}

.form-group button {
    position: absolute;
    right: -40px;
    background-color: transparent;
    border: none;
}

.form-group input[type="submit"] {
    cursor: pointer;
}

.errors {
    color: red;
}

li.error::marker {
    content: "❗️";
}

#togglePassword, #togglePasswordRepeat {
    cursor: pointer;
}

.users-container table {
    border-collapse: collapse;
    width: 100%;
}

.users-container th, .users-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-container tr:nth-child(even) {
    color: black;
    background-color: #00A1BB;
}

.link-btn {
    color: #00A1BB;
}





@media only screen and (max-width: 420px) {

    body {
        overflow-x: hidden;
        background-color: #161616;
    }

    header {
        display: none;
    }

    .form-container {
        width: 100%;
        padding: 0px;
    }
        
    form.register-form {
        border-radius: 0px;
        width: 100%;
        padding: 40px 0px  10px 0px;
    }

    .form-group {
        font-size: 1.8rem;
        width: 90%;
    }

    .form-group input {
        padding-right: 40px;
    }

    .form-group button {
        right: -10px;
    }
 }